@import 'tailwindcss';

@theme {
  --font-cabinet: 'Cabinet Grotesk', 'sans';
  --font-satoshi: 'Satoshi', 'sans';

  --color-patrimonio-blue: #81b2db;
  --color-patrimonio-red: #d6332e;
  --color-patrimonio-beige: #fcfbf7;
}
